.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#userInput {
    width: 500px;
    height: 100px;
    resize: vertical;
}

label, input, button {
    margin-right: 5px;
}