/* Header */

header {
    display: flex;
    align-items: center;
}

/* Header - logo */

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    height: auto;
    margin-left: 5px;
}

.logo-text {
    margin-top: 5px;
    margin-left: 2px;
}

/* Header - menu button */

.menu-toggle {
    margin-left: auto;
    cursor: pointer;
}

/* Header - links */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 15px;
}

/* Responsive nav menu */

@media screen and (min-width: 769px) {
    .menu-toggle {display: none}
    nav {margin-left: auto}
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff; /* Set a background color for better visibility */
    }

    nav.active {
        display: flex;
    }

    ul {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-end;
    }

    li {
        margin-right: 0;
        margin-bottom: 10px; /* Adjust the spacing between list items */
    }
}

/* hover items */

.menu-toggle:hover {
    text-decoration: underline;
}

.logo-container:hover {
    cursor: pointer;
}
